@font-face{	
	font-family: 'proximanova-regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}	
body,html {
    margin: 0;
   	width:100%;
	font-family:'proximanova-regular';
	
}
section {
	color: #616161;
}
.wrap{
	width: 100vw;
}
.site-main{
  height: calc(100vh + 54px);
  position:relative;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fixed{
	position:fixed;
	top:0;
    left:0;	
	z-index:500;
}
.visibility{
	visibility:visible !important;	
}
.flex .row{
flex-direction: row;
flex-wrap: wrap;
}	
.site-main__portrait{
  text-align:center;
  width:50%;
}
.site-main__portrait img{
   width:50%;
}
.site-main__initial{
	text-transform:uppercase;
	letter-spacing:8px;
	color: #a62a2a;
	padding-left:15px;
}
#site-main__block{
	margin-top:40px;
	padding:5px 30px;
	border: 2px solid #203339;
	font-size:25px;	
	line-height:30px;
	text-transform:none;
	position: relative;
	overflow: hidden;
	transition: .3s;
	color:#fff;
	background: #203339;
	z-index: 1000;
}
#site-main__block:after{
	position:absolute;
	transition: .3s;
    content:'';
    top:0;
    width: 0;
    background: #fff;
	height:100%;
	left:-20%;
	transform-origin: top left;
	transform: skewX(25deg);
    z-index: -1;
}
#site-main__block:before{
	position:absolute;
	transition: .9s;
    content:'';
    top:0;
    width: 0;
    background: #ff465b;
	height:100%;
	left:-10%;
	transform: skewX(25deg);
    z-index: -1;
}
#site-main__block:hover:after{
    width: 135%;
}
#site-main__block:hover:before{
    width: 135%;
}
#site-main__block:hover{
	 cursor: pointer;
	 color: #000;
}
.site-main__scroll{
	position:absolute;
	bottom: 10%;
	color:#616161;
}
.scroller {
  font-size:30px !important;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
.scroller-up{
  animation-name: scroll-up;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;		
  display:block;
}

@keyframes scroll-up {
  0% { transform: translateY(20px); opacity: 0; }
  90% { transform: translateY(0px); opacity: 1; }
  100% { opacity: 0;}
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


nav{
	height:50px;
	background: #203339;
	width:100%;
	position: absolute;
    bottom:0;
	left:0;
	color:#fff;
	border-bottom: 4px solid #00c2cc;
}
.site-main__menu{
	text-align:center;
}

.menu-link{
	display:inline;
	padding: 0 20px;
	cursor:pointer;
	line-height:50px;
	text-transform: uppercase;
	transition: color .5s;
}
nav .site-main__menu .menu-link:hover{
	color:#ff465b;
}
.active-link{
	color:#ff465b;
}
section:nth-child(2){
	padding: 50px 0px;
}
section:nth-child(3){
	padding: 50px 0px 150px 0px;
	background: #f5f5f5;	
}
section:nth-child(4){
	padding: 50px 0px 150px 0px;
	background: #252934;
	color:#fff;
}
.section-block{
	margin:40px 0px 100px 0px;
	
}
.section-block__title{
	text-transform:uppercase;
	font-size:50px;
	font-weight:bold;
	text-align:center;
	letter-spacing: 2px;
	color:#203339;
}
.section-block__line{
	margin: 0 auto;
	width: 80px;
	height:5px;
	background: #203339;
}
.gallery{
		max-width:900px;
		margin: 0 auto;		
}

.animatable{
	visibility: hidden;	
}

.animateon{
	visibility: visible;
	animation-duration: 2s;
	animation-play-state: running;
}
.animateon.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animateon.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animateon.bounceInBottom {
	-webkit-animation-name: bounceInBottom;
	-moz-animation-name: bounceInBottom;
	-o-animation-name: bounceInBottom;
	animation-name: bounceInBottom;
	
}
.about__block{
	width:45%;
	margin: 60px 20px;
	
	
}
.bar{
	height:30px;
	position:relative;
	align-items:flex-end;
	background-color: #eee;
	margin: 0 0 15px 0;
	max-width:90%;
	}
.bar .line{
	position:absolute;
    top:0;
    left:0;	
	background-color: #00A1A7;
	height:30px;
	
	transition: 1.1s 0.2s width ease-in-out;
}
.bar span{
	padding-right: 10px;
	
}
.line__item{
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
	line-height:30px;
}
.bars-wrap:not(.animateon) .line{
	width: 0 !important;
}

.filter{
	cursor:pointer;
	font-size:20px;
	margin: 0 20px;
	padding: 4px 16px; 
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
}
.filter.active {
	background:#ff465b;
	color:#fff;
}
.menu-select{
	margin: 30px auto;
}

.mix:nth-child(1) .item__img{
	background: url(../img/2.jpg) center center/cover;
	height: 100%;
}
.mix:nth-child(2) .item__img{
	background: url(../img/1.jpg) center center/cover;
	height: 100%;
}
.mix:nth-child(3) .item__img{
	background: url(../img/3.jpg) center center/cover;
	height: 100%;
}
.mix:nth-child(4) .item__img{
	background: url(../img/4.jpg) center center/cover;
	height: 100%;
}
.mix:nth-child(5) .item__img{
	background: url(../img/5.jpg) center center/cover;
	height: 100%;
}
.mix:nth-child(6) .item__img{
	background: url(../img/6.jpg) center center/cover;
	height: 100%;
}
.mix{
	display:none;

}
.item__img {
	max-width: 100%;
	transition:opacity .8s;
}
.mix:hover .item__img{
	opacity:0;
   
}
.item__button{
	cursor:pointer;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	margin:0 auto;
	transition: all .3s ease-in;	
}

.mix .item__button{
	width: 120px;
	line-height:40px;
	height:40px;
	background-color: #ff465b;
	font-size: 20px;
	color:#fff;
	border: 2px solid #ff465b;
	text-align:center;
	text-transform:uppercase;
}
.mix:hover{
	cursor:pointer;
}
.mix .item__button:hover{
	color:#000;
	background-color: #fff;
}

.mix:hover .item__button{
	opacity: 1;
	z-index:100;
	bottom: 20%;
}
.item__detail{
	text-align:center;
	position: absolute;
	color:#000;
	left:0;
	right:0;
	top:0;
	opacity:0;
	transition: all .3s ease-in;
}
.mix:hover .item__detail{
	opacity: 1;
	z-index:100;
	top: 20%;
}
.item__detail div:first-child{
	font-weight:700;
	font-size:30px;
}
.item__detail div:last-child{
	color:#ff465b;
}

.way-animation.animated{
	opacity: 1;

}
.way-animation {
  opacity: 0;

}
.animated.bounceInRight {
    animation: bounceInRight 1s ease both;
}
.gallery__item {
	margin:0px;
	width: 300px;
	height:300px;
	position:relative;
	cursor:pointer;
}

.pop-up{
	visibility:hidden;
	position:fixed;
	top:0;
	left:0;
	z-index:800;
	height: 100vh;
	width: 100vw;
	}
.pop-up.visible{
	visibility:visible;
}
.pop-up__background{
	opacity:0;
	background: rgba(0, 0, 0, 0.5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;	
}
.pop-up.visible .pop-up__background{
	opacity:1;
}
.pop-up__window{
	max-width:700px;
	transform: scale(0.5);
	opacity:0;
	position:relative;
	transition:all .4s;
	color:#000;
	margin: 0 auto;
	background-color:#fff;
	height:initial;
	top: 10vh;
	
}
.pop-up.visible .pop-up__window{
		opacity:1;
		transform: scale(1);
}
.pop-up__close{
	font-weight:800 !important;
	position:absolute;
	bottom: 25px;
	font-size:20pt !important;
	right:25px;
	cursor:pointer;
	color:#bbb;
}
.carousel-wrap{

	height:500px;
	overflow: hidden;
	position:relative;
}
.carousel{
	width:10000px;
	top:0;
	position:relative;
	left: -700px;
}
.slide{
	width:700px;
	height:500px;	
	float:left;
	display:flex;
	flex-direction:column;
}
.transition{
	transition: .7s;
}
.prev-left{
   left:0;
}
.prev-left, .next-right{
	position:absolute;
	bottom:0;
	cursor:pointer;
	padding:10px 15px;
	background: rgba(0, 0, 0, 0.3);
	color:#fff;
	font-weight:bold;
}
.prev-left:before{
	content: "\2190";
	font-size:27px;
	}
.next-right{

	right:0;
}

.next-right:before{
	content: "\2192";
	font-size:27px;
}
.info-box{
	box-sizing:border-box;
	padding:35px 20px 90px 20px;
	position:relative;
}
.info-box__title{
	font-size:30px;
	color: #616161;
    font-weight:bold;

}
.info-box__line{
	width:100px;
	height:1px;
	background-color:#bbb;
	margin:10px 0px 30px 0px;
   }
.info-box__detail{

	font-size:14px;
	line-height: 18px;
	color: #313131;	
}
.info-box__button{
	visibility:hidden;
	margin:10px 0;
	background-color: #ff465b;
	width:100px;
	text-align:center;
	
}
.info-box__button:hover{
	color:#ff465b;
	background-color: #fff;
}
.info-box__button a{	
	text-decoration:none;
	display:block;
	padding:5px 10px;
	border: 2px solid #ff465b;
	text-transform:uppercase;
	color:#fff;

}
.info-box__button a:hover{	
   color:#ff465b;
}
.section-block__title:nth-child(3){
	color:#fff;
	
}
.section-block__contact{

	font-size:15px;
	color:#fff;
	margin-top:40px;
}
form{
	margin: 50px 0;
	max-width:520px;
}
.footer{
	height:100px;
	background-color:#1a1d25;
	position:relative;
	width:100%;
	text-align:center;
}
#home{
	display:block;
}
.button{
	display:block;
}
.feedback-input {
  color:#fff;
  font-family: 'proximanova-regular', sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: #1E242C;
  padding: 13px;
  border:0;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:none;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}
[type="submit"] {
  font-family: 'proximanova-regular', sans-serif;
  width: 30%;
  background:#ff465b;
  border:0;
  float:right;
  cursor:pointer;
  color:white;
  font-size:18px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:500;
}
[type="submit"]:hover { background:#CC4949; }

.footer .menu-link{
	position:absolute;
	width:45px;
	height:45px;
	background: #00c2cc;
	top:-25px;
	color:#fff;
	text-align:center;
	font-size:40px !important;
	cursor:pointer;
	line-height: 45px;
	padding:0;
}
.footer .material-icons{
	font-size: 30px !important;
	
}
.footer .menu-link:hover{
	background:#03d3de;
	transition: all 0.2s;
}
.footer__created{
	font-size:15px;
	color:#414758;
	text-align:center;
	
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	80% {
		transform: translateY(5px);
	}

	100% {
		opacity: 0;
		transform: translateY(0);
	}
}


@keyframes bounceInBottom {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	80% {
		transform: translateY(5px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 600px){
	.site-main__portrait img{
		width:100%;
	}
	.about__block{
		width:100%;
		
	}
	.gallery__item{
		    width: calc(100vw - 20px);
		    height:400px;
	}
	.site-main__menu{
		width:100%;
	}
	.info-box{
		padding: 35px 20px 60px 20px;
	}
	.menu-link{		
		font-size:12px;
		padding:0 10px;
	}
	.filter{
		width:70px;
		font-size:16px;
		margin: 0px 10px;
	}
	form{
		margin: 50px 20px;
	}
	.pop-up__window{
      height: 100vh;
	  top:0;
	}
	.slide{
		height:250px;
	}
	.carousel-wrap{
		  height: 250px;
	}
}




